/*body {*/
/*    display: grid;*/
/*    place-content: flex-start;*/

/*}*/

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600&display=swap');


/*###########################*/
/*######### COMPOSITION #########*/
/*###########################*/

.flex-column-center-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.flex-row-space-around-m1 {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.flex-row-space-something {
    display: flex;
    justify-content: center;
    gap: 1em;
}

/*###########################*/
/*######### UTILITY #########*/
/*###########################*/

.font-weight-700 {
    font-weight: 700;
}

.big-icon {
    width: 7em;
}

.width-90 {
    width: 90%;
}

/*###########################*/
/*######### BLOCKS #########*/
/*###########################*/

.site-container {
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#app {
    display: flex;
    justify-content: center;
    font-family: 'Sora', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.view-container {
    margin: 0.3em 0em;

}

/*---------- DESKTOP CARDS ----------*/

.desktop-data-card {
    width: 300px;
}

.desktop-data-card-header {
    border: 1px solid black;
    width: 100%
}

.desktop-data-card-body {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;

}


/*---------- 10 DAY VIEW ----------*/

.ten-day-list .date {
    text-align: left;
    width: min-content;

}

/*WEATHER LISTS*/

.weather-table td {
    text-align: left;
    padding: 0 0.4em;
    font-size: 1em;
}

/*CircleComponent is styled in component*/

/*---------- START VIEW ----------*/
.start-view-header {
    display: flex;
    gap: 0.4em;
}

.start-view-header .heart {
    width: 4rem;
}

.start-view-weather-same-day-list-component-sm-minus {
    width: 100vw;
    display: flex;
    justify-content: center;
}

/*---------- NAVIGATIONS ----------*/


/*---------- BOTTOM NAVIGATION ----------*/

.nav-bar-container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #f5f5f5;
    padding-top: 0.5em;
}

.nav-bar-item {
    padding: 0.2em;
    margin: 0.2em;
    border: 2px solid lightgrey;
}

.router-link-active {
    height: 100%;
    border: 2px solid black;
}

.nav-bar-item img {
    width: clamp(2rem, 12vw, 12rem);
}

/*---------- TOP NAVIGATION ----------*/

.search-icon {
    width: clamp(2rem, 10vw, 6rem);
    margin: 0.3em;
}

.favorite-icon {
    width: clamp(2rem, 10vw, 6rem);
}

.favorite-link {
    display: none;
}

.top-nav-bar-container {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    height: 4em;
    width: 90vw;
    justify-content: start;
    z-index: 20;
    background-color: #f5f5f5;
}

.top-nav-site-title {
    font-size: clamp(0.8em, 7vw, 2.5em);
    margin-left: 0.5em;
    font-weight: 600;
    white-space: nowrap;
}

/*---------- WEATHER WARNING ----------*/

.weather-warning {
    background-color: #f8a393;
    width: 100%;
    border: solid #bd8070;
    border-width: 1px 0px 1px 0px;
    margin: 1em 0;
}

.start-view-weather-warning-component-sm-minus {
    width: 100vw;
}

/*###########################*/
/*######### EXCEPTIONS #########*/
/*###########################*/

/*// Medium devices (tablets, 768px and up)*!*!*/

/*Name	Minimum width*/
/*xs	0*/
/*sm	576*/
/*md	768*/
/*lg	992*/
/*xl	1200*/
/*xxl	1400*/


@media (min-width: 768px) {
    .view-container {
        margin: 4em 0;
        display: flex;
        flex-direction: row;
        gap: 2em;
        width: 90vw;
        justify-content: center;


    }

    .md-plus-target {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 2em;

    }

    .top-nav-bar-container {
        position: relative;
        align-items: start;
    }

    .search-top-nav-mp-plus {
        position:relative;

        display:flex;
        flex-direction: column;
    }

    .start-view-section {

    }

    .search-input {
        width:250px;
        padding:0.5em 1.5em;
        font-size:1em;
    }
    .search-button {
        border: 1px solid #9a9a9a;
        border-radius: 1em;
        padding:0.5em 1.5em;
        margin: 0.5em 1.5em;
        cursor: pointer;
    }

    .search-button:hover,
    .search-button:focus{
        border: 1px solid black;
        border-radius: 1em;
        padding:0.5em 1.5em;
        margin: 0.5em 1.5em;
        cursor: pointer;
    }

    .start-view-weather-warning-component-md-plus {
        width: 100vw;
    }

    .favorite-link {
        display: block;
        margin-left: auto;
        padding: 1em;
    }

    .search-result-box-md-plus {
        background-color: #dadada;
    }

    .search-container {
        display:flex;
        justify-content:start;
        align-items: center;
    }
}


/*// Large devices (desktops, 992px and up)*!*!*/

@media (min-width: 992px) {

}





